@model BookStoreOnline.Models.KHUYENMAI

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card-body">
    <h2>Chỉnh sửa mã giảm giá</h2>
</div>
@using (Html.BeginForm("Edit", "Promotion", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="mb-3">
            <label for="TenChuongTrinh" class="form-label">Tên chương trình</label>
            @Html.EditorFor(model => model.TenChuongTrinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenChuongTrinh, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="MaKM" class="form-label">Mã khuyến mãi</label>
            @Html.EditorFor(model => model.MaKM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaKM, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="MoTa" class="form-label">Mô tả</label>
            @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="NgayTao" class="form-label">Ngày tạo</label>
            @Html.EditorFor(model => model.NgayTao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgayTao, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="NgayBatDau" class="form-label">Ngày bắt đầu</label>
            @Html.EditorFor(model => model.NgayBatDau, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgayBatDau, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="NgayKetThuc" class="form-label">Ngày kết thúc</label>
            @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="SoTienKM" class="form-label">Số tiền khuyến mãi</label>
            @Html.EditorFor(model => model.SoTienKM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoTienKM, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="SoTienMuaHangToiThieu" class="form-label">Số tiền mua hàng tối thiểu</label>
            @Html.EditorFor(model => model.SoTienMuaHangToiThieu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoTienMuaHangToiThieu, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="SoLanDung" class="form-label">Số lần dùng</label>
            @Html.EditorFor(model => model.SoLanDung, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoLanDung, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="KichHoat" class="form-label">Kích hoạt</label>
            <div class="form-check">
                @Html.EditorFor(model => model.KichHoat, new { htmlAttributes = new { @class = "form-check-input" } })
                @Html.ValidationMessageFor(model => model.KichHoat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary", style = "color: white !important;" })
            <button type="submit" class="btn btn-primary" style="color: white !important;">Lưu thay đổi</button>
        </div>
    </div>
}
